@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoSlab';
    font-weight: 200;
    src: url('~/assets/fonts/static/RobotoSlab-Regular.ttf') format('truetype');
}




@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('~/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

h1 {
  color: #003162;
  @apply text-3xl uppercase text-center py-2;
}

h3 {
  @apply text-xl pb-4;
}

.content-box {
  opacity: .69; /* TODO: make opacity only for background!*/
  width: 75%;
  border-radius: 24px;
  color: white;
  @apply mx-auto;
}
